[Unit]
Description=Hello World Call Up Script

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/nhscs/postinstall.sh
RemainAfterExit=true

[Unit]
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target
