[Unit]
Description=Firstboot MAAS Config - DR#-

[Service]
Type=oneshot
ExecStart=/etc/nhscs/config/deploy/firstboot/firstboot.sh --start
ExecStop=/etc/nhscs/config/deploy/firstboot/firstboot.sh --stop
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
